form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"], select {
    padding: 1rem;
    background-color: transparent;
    border: 0.3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}
.field ::placeholder {
    color: var(--white);
}

input[type="submit"] {
    padding: 2rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;

    
    
}